.nav{
 	background-color:#ffffff;
 	color:#ffffff;
 	list-style:none;
 	text-align: right;
 	padding: 10px 0 10px 0;
	}

.nav > li{
 	display: inline-block;
 	padding-right: 20px;
    font-size: 30px; 
    font-family: 'Roboto Condensed', sans-serif;
	}

 .nav > li > a{
 	text-decoration: none;
 	color:#000000;
	}

 .nav > li > a:hover, a:focus, a:active{
    text-decoration: none; 
	color: #c1c1c1;
	}

header h1 {
	border: transparent;
	position: absolute;
	width: 500px;
	font-family: 'arial', sans-serif;
}

h2  {
	border:transparent;
	font-family: 'arial', sans-serif;
}

#pao-intro {
	border: transparent;
	width: 1280px;
	padding: 0px 7% 0px 7%;	
}

#pao-target p{
	font-family: 'arial', sans-serif;
	font-size: 20px
}

#pao-target p{
	border: transparent;
	color: white;
	background-color: black;
	padding: 50px;
	opacity: 10%;
}

#pao-objective h3 {
	font-family: 'arial', sans-serif;
	border: solid;
	float: left;
	font-size: 40px
	width: 24px;
	padding: 30px;
}

#pao-objective {
	border: transparent;
}

#pao-objective h3 {
	border: transparent;
	width: 120px;
	color: white;
	background-color: black;
	position: absolute;
}

#pao-objective p {
	font-family: 'arial', sans-serif;
	border: transparent;
	padding: 30px 30px 30px 200px;
}

#pao-support {
	border-color: transparent;
	font-family: 'arial', sans-serif;
}

#pao-preamble h3 {
	border: transparent;
	background-color: black;
	width: 120px;
	color: white;
	padding: 30px 30px 30px 30px;
	position: absolute;
}

#pao-preamble p {
	border: transparent;
	padding: 30px 30px 30px 200px;
}

.con {
	border-top: solid;
}

.con a {
	font-family: 'arial', sans-serif;
	text-decoration: none;
	color: black;
	font-size: 50px;
}

#literature p {
	border: transparent;
	font-family: 'arial', sans-serif;
	font-size: 18px;
}

#methods {
	border: transparent;
	font-family: 'arial', sans-serif;
	font-size: 18px;
}

#contact {
	border: transparent;
	font-family: 'arial', sans-serif;
	font-size: 18px;
}