*{
	margin:0;
	padding:0;
}

body {
	margin: 0;
	padding: 0;
}	
	
.barangayname{
	font-family: 'Roboto Condensed', sans-serif;
	padding: 10px 0 10px 0;
	}	

.nav{
 	background-color:#ffffff;
 	color:#ffffff;
 	list-style:none;
 	text-align: right;
 	padding: 10px 0 10px 0;
 }

.nav > li{
 	display: inline-block;
 	padding: 0 25px 0 25px;
    font-size: 30px; 
    font-family: 'Roboto Condensed', sans-serif;
 }

 .nav > li > a{
 	text-decoration: none;
 	color:#000000;

 }

 .nav > li > a:hover, a:focus, a:active{
    text-decoration: none; 
	color: #c1c1c1;
 }

.quote{
	text-align: center;
	}

#hr{
	text-align: center;
	}
	
.barangayname{
	color: #000000;
	float:left;
	padding-left:25px;
	font-size:30px;
	font-weight:bold;
}

.barangayname > a{
	text-decoration:none;
	color:#000000;
}

.banner{
	width:100%;
	display:block;
}

.banner > .banner-image{
	width:100%;
	display:block;
}

.home:hover{
	background-color: gray;
	padding:25px 12px 15px 10px;
}

.banner2{
	width:100%;
	display:block;
}

.banner2 > .banner-image2{
	width:100%;
	display:block;
}


.container{
	display:flex;
}

.container div{
	border: 0px #ffffff solid;
	padding:0px;
 }

.content {
  flex:1;
  margin-top: 12em;
  text-align: center;

}

.photo{
  flex:1;
  width:50%;
  margin: 25px 0px 10px 0px;
  padding: 0;
}

.content h3{
  font-family: 'Tangerine', cursive;
  font-size: 50px;
}

.content p{
  font-family:;
}


.container-2 div{
	border: 0px #ffffff solid;
	padding:0px;
 }

.content-2 {
  flex:1;
  margin-top: 12em;
  text-align: center;

}

.photo-2{
  flex:1;
  width:30%;
  margin: 0;
  padding: 0;
}

.content p{
  font-family:;
}

footer{
	text-align: center;
	}


/*/*gallery*/
/*
body,#slider, .wrap, .slide-content{
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	width:100%;
	height:100vh;
	overflow-x:hidden;
}

.wrap{position: relative;}

.slide{
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
}

.slide1{background-image: url(../image/banner2.jpg)}
.slide2{background-image: url(../image/banner2.jpg)}
.slide3{background-image: url(../image/banner2.jpg)}

.slide-content{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.slide-content span{
	font-size: 5rem;
	color: #ffffff;
}
*/*/